/* Principal INDEX */
.principal{
    display: grid;    
    @include tamanio(100%,94vh);    
    background-color:$colorPrincipal;    
    @extend %alineacion;
    background-image: url(../img/publicidad-1.jpg),url(https://flex.f6s.com/content-resource/media/946526.jpg);
    @include fondo2(100% auto,100% 150px,center top,center bottom,no-repeat);    
    .carousel{        
        @include tamanio(100%,15em);
        margin-bottom: 20%;
        .carousel-inner{
            img{
                @include tamanio(100%,15em);                              
            }
        }
    } 
} 
/*FIN Principal INDEX */