/*Principal PRODUCTOS */
.principalP{
    display: grid;    
    @include tamanio(100%,auto); 
    background-color: $colorPrincipal;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20,fr);
    .filtros {
        position:sticky;
        left: 0;
        top: 0;
        .dropdown{
            .btn{
                margin-top: 1%;               
                width:70%;        
            }
            .dropdown-menu{
                width:70%;
            }
        }
    }
    .productos{
        width: 100%;
        text-align: center;
        .item{
            width: 100%;
            height: auto;            
            margin-top: 5%;
            transition: transform 0.3s;
            &:hover{
                @include hoverProd(none,-5px 5px 3px rgb(255, 255, 255),scale(1.01));
             }             
            a{                              
                text-decoration: none;
                color: black;
                font-weight: 500;
                transition: transform 0.3s;
                p{
                    color: black;
                    font-weight: 500;
                }
                &:hover{
                   @include hoverProd(black,-5px 5px 3px white,none);
                }
                img{                    
                    width: 76.92%;
                    max-width: 325px;
                    aspect-ratio: 1;
                    background-color: white;                   
                    &:hover{                        
                        border-radius: 20px;                        
                    }        
                }
            }
        }        
    }        
    
}
/*Principal PRODUCTOS */