/*Principal PRODUCTOS */
.principalP{
    display: grid;
    width: 100%;
    height: auto;
    background-color: $colorPrincipal;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20,fr);
    .filtros {
        position:sticky;
        left: 0;
        top: 0;
        .dropdown{
            .btn{
                margin-top: 1%;               
                width:70%;        
            }
            .dropdown-menu{
                width:70%;
            }
        }
    }
    .productos{
        text-align: center;
        .item{
            margin-top: 2em;
            a{
                text-decoration: none;
                color: black;
                font-weight: 500;
                img{
                    width:15em;        
                }
            }
        }        
    }        
    
}
/*Principal PRODUCTOS */