/* PRINCIPAL CONTACTO */
.principalContacto{
    display: grid;   
    @include tamanio(100%,100vh); 
    background-color: $colorPrincipal;
    background-image: url(https://flex.f6s.com/content-resource/media/946526.jpg);
    @include fondo1(100% 10em,center 49em,no-repeat); 
    padding-bottom: 90%;
    .Textocontacto{
        padding:5%;
        text-align: justify;
        font-size: 1.5em;
    }
    span{
        text-align: center;        
        a{
            color:black;
            text-decoration: none;
            font-size: 1.5em;
            margin: 2%;           
            &:hover{
                @include hover(white,-3px 3px 2.5px black,none);
            } 
            &:active{
                @include active(black,none,none);
            }   
        }
    }     
}
/* FIN PRINCIPAL CONTACTO */