/* SOBRE NOSOTROS */
.principalSobreNosotros{
    display:grid;
    background-color: $colorPrincipal;
    text-align: center;
    padding: 2%;

    .SNlogo{       
        @include tamanio(18.75em,9.81em);
        justify-self: center;
        padding-top: 5%;
        margin-bottom: 8%;
        img{
            @include tamanio(18.75em,9.81em);
        }        
    }
}
/*FIN SOBRE NOSOTROS */