    
    %alineacion{
        justify-items: center;
        align-items: center;
    }

    //boton de posventa

    %botonForm{
        border-style: solid;
        border-color:black;
        width:128px;
        height: 32px;
        background-color: $colorHeader;
        font-weight: 500;
        border-radius: 10px;
        margin-left: 6%;
    }

    //boton de posventa

    //campo de texto Posventa
    %camposPosventa{
        background-color: transparent;
        border-style:none;
        border-bottom-style: solid;
        color:black;
    }
    //campo de texto Posventa

    %tamanio{
        width: 100%;
        height: 100%;
    }

