/* ENCABEZADO */
.navbar{
    background-color:$colorHeader;
    .navbar-brand{
        color:white;
        span{
            color:red;
            font-size: 1.1em;
            font-weight: 500;    
        }        
    }
    .navbar-nav{
        .nav-item {
            color: black;
            transition: transform 0.2s ;           
            &:hover{                               
                background-color:#198754  ;
                border-radius: 15px;              
            }
            &:active{                 
                background-color:#198754 ;
                border-radius: 15px;                             
            }    
        }
    }
    .d-flex{
        .btn{
            color: black;
        }
    }
} 
/*FIN ENCABEZADO */