/* ENCABEZADO */
.navbar{
    background-color:$colorHeader;
    .navbar-brand{
        color:white;
        span{
            color:red;
            font-size: 1.1em;
            font-weight: 500;    
        }        
    }
    .navbar-nav{
        .nav-item {
            color: white;
            transition: transform 0.2s ; 
            &:hover{
                @include hover(black,-3px 3px 2.5px black,scale(1.1));                
            }
            &:active{
                @include active(white,-3px 3px 2.5px black,scale(1));                
            }    
        }
    }
    .d-flex{
        .btn{
            color: white;
        }
    }
} 
/*FIN ENCABEZADO */