/* FOOTER */
.pie{
    display: grid;    
    @include tamanio(100%,300px);
    background-color: $colorPrincipal;
    padding:2%;
    grid-template-areas:
        "ubic "
        "redes" 
        "derechos";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    .ubicacion{
        display: flex;   
        grid-area:ubic;
        @extend %tamanio;
        align-items: center;        
        iframe{
            @extend %tamanio;
        }     
    }
    .redes{
        @include flex(flex,row,center,center);        
        grid-area:redes;
        @extend %tamanio;        
        letter-spacing: 0.5em;        
        font-size: 1.2em;
                
        a{    
            text-decoration: none;
            color:black;            
            i{
                transition: transform 0.5s ;                
                &:hover{                    
                    @include hover(white,-2px 4px 3px black,scale(1.2));                    
                }
                &:active{                    
                    @include active(black,none,scale(1));
                }   
            }
        }
    }
    .derechos{
        @include flex(flex,none,center,center);             
        grid-area:derechos;
        @extend %tamanio;        
        h2{
            font-size: 1.2em;
            margin-bottom: 10%;
        }
    }
}
/*FIN FOOTER */